---
# We'll use defaults from the LLVM style, but with 4 columns indentation.
BasedOnStyle: Chromium
IndentWidth: 4
---
Language: Cpp
Standard: c++17
# Force pointers to the type for C++.
DerivePointerAlignment: false
PointerAlignment: Left
...
